<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
      <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="btn-primary"> Hi!</button>
  </body>
  <script src="/javascripts/jquery-3.1.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>